body{
    color: white;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    text-decoration: none;
}

/* this all css for my header  */
.left{
    position: absolute;
    left: 10px;
    top: 10px;
}
.left img{
    /*  the filter below will invert my black image to white*/
    /* filter: invert(100%); */
    width: 120px;
}
.centre{
    display: block;
    width: 80%;
    margin: 12px auto;

}
.navbar li{
    display: inline-block;
    padding: 34px 23px;
}
.navbar li a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.navbar li a:hover{
  color: orange;
    text-decoration: underline;
}
/* all css form my form */
.container{
    background-color: rgb(255, 166, 0);
    border: 2px solid white;
    border-radius: 10px;
    margin: 50px;
    padding: 16px 16px;
    width: 30%;
    font-size: 25px;
    text-align: center;
}
.container .form , .container .submit {
    padding: 5px;
    margin: 10px auto;
}
.form input{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
}
.submit input{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
}
.submit input:hover{
    background-color: orange;
    cursor: pointer;
}

/* media queries */
@media only screen and (max-width: 1000px) {
    .container{
        width: 40%;
    }
}
@media only screen and (max-width: 740px) {
    .navbar li{
        display: block;
        padding: 10px;
        margin: 10px;
  }
  .container{
    width: 60%;
}
.left{
    left: 250px;
}
.left img{
    width: 150px;
}
}
@media only screen and (max-width: 500px) {

  .container{
    width: 70%;
}
}